<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key="CultureInfo" value="zh-TW"/-->
    <!--add key="CultureInfo" value="en-US"/-->
    <!--<add key="CultureInfo" value="zh-CN"/-->
    <!--add key="WriteLog" value="true"/-->
    <add key="WriteLog" value="All"/>
  </appSettings>
</configuration>